
#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound {
	max-width: 767px;
	width: 100%;
	line-height: 1.4;
	padding: 0 15px;
}

.notfound .notfound-404 {
	position: relative;
	margin-bottom: 25px;
}

#notfound {
  position: relative;
  height: 100vh;
}

.notfound .notfound-404 h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16rem;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
}

.notfound h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 26px;
	font-weight: 700;
	margin: 0;
}

.notfound p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0;
	text-transform: uppercase;
}
