<div class="form-group" [formGroup]="form" [ngSwitch]="item.type">

  <ng-container *ngSwitchCase="'input'">
    <label [attr.for]="item.controlName" class="pointer">{{item.controlName | splitWords}}</label>
    <input type="text" [id]="item.controlName" [formControlName]="item.controlName"
      class="form-control">
  </ng-container>

  <ng-container *ngSwitchCase="'checkbox'">
    <div class="custom-control custom-checkbox pointer">
      <input type="checkbox" [id]="item.controlName" [formControlName]="item.controlName" class="custom-control-input">
      <label [attr.for]="item.controlName"
        class="custom-control-label pointer">{{item.controlName | splitWords}}</label>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <label [attr.for]="item.controlName" class="pointer">{{item.controlName | splitWords}}</label>
    <select [id]="item.controlName" [formControlName]="item.controlName" class="form-control">
      <option *ngFor="let option of item.options" [value]="option">{{option}}</option>
    </select>
  </ng-container>
</div>
