<div class="row">
  <div class="page-header col-md-12 text-center bs-docs-section">
    <h1 id="progress">Account Options</h1>
  </div>
  <form *ngIf="form" [formGroup]="form" (submit)="submit()" class=" offset-md-3 col-md-6">

    <app-input [item]="item" [form]="form" *ngFor="let item of buildType "></app-input>

    <button type="submit" *ngIf="!pending;else progress" class="btn btn-primary">Submit</button>
    <ng-template #progress>pending</ng-template>
  </form>
</div>
